@import '_settings.scss';

.subjects-table {
    max-width: 1024px;
    width: 100%;
    margin: 50px auto;
}

.ngx-pagination {
    padding: 0px;
    text-align: center;
}

.subjects-table td {
    padding: 40px 20px;
}

.subjects-table th {
    padding: 20px 20px;
    color: $blue;
    font-weight: bold;
}
.click {
    transition: all .5s;
}
.click:hover {
    color: $orange;
}

.search-container {
    max-width: 1024px;
    margin: 20px auto 0px;
}

.title {
    font-weight: 900;
    padding-left: 5px;
}