<div class="container">
  <!-- <h2> Asignaturas </h2>-->
  <div class="main-container" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="100">
      <mat-toolbar color="accent">
          <mat-toolbar-row>
            <div class="main-icon"><mat-icon>class</mat-icon></div>
            <div><span class="title">Mis asignaturas</span></div>
            <span class="spacer"></span>
            <button routerLink="/matricularme" mat-icon-button matTooltip="Matricularme">
              <mat-icon>add_to_queue</mat-icon>
            </button>
            <button routerLink="/" mat-icon-button matTooltip="Volver al Inicio">
              <mat-icon>chevron_left</mat-icon>
            </button>
          </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
  <!-- PROGRESS BAR  -->
  <div class="progress-bar-container">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>
  </div>

  <div *ngIf="subjects.length === 0 && !isLoading" class="no-results-container">
    <h3> No estás matriculado/a en ninguna asignatura. </h3>
    <button routerLink="/matricularme" mat-flat-button color="success"><mat-icon> add_to_queue </mat-icon> Matricúlate </button>
  </div>

  <div *ngIf="!isLoading" class="subjects" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div *ngFor="let subject of subjects" fxFlex="32" fxFlex.sm="49">
      <mat-card class="subject-card">
        <mat-card-header>
          <mat-card-title class="title">{{ subject.nombre }}</mat-card-title>
          <mat-card-subtitle class="subtitle">{{ subject.codigo }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="teacher">
          <p> <span> Coordinador: </span> Nombre Apellido Apellido</p>
          <p> <span> Profesor: </span> Nombre Apellido Apellido </p>
          <p> <span> Profesor: </span> Nombre Apellido Apellido</p>
        </mat-card-content>
        <mat-card-actions class="buttons" fxLayoutAlign="end">
          <button (click)="goToDetails(subject.codigo)" mat-button matTooltip="Ver detalles" mat-mini-fab color="info"><mat-icon aria-label="Ver detalles">  visibility </mat-icon></button>
          <button (click)="confirmDialog(subject.codigo)" mat-button matTooltip="Desmatricularme" mat-mini-fab color="warn"><mat-icon aria-label="Desmatricularme"> remove_from_queue </mat-icon> </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>