<div class="container">
  <div class="main-container" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="100">
      <mat-toolbar color="accent">
        <mat-toolbar-row>        
          <div class="main-icon">
              <a routerLink="/admin/blog">
                <mat-icon>create</mat-icon>
              </a>
          </div>
          <div>
            <a routerLink="/admin/blog">
              <strong>Asignatura</strong>
            </a>
          </div>
          <div class="main-icon">&nbsp;&nbsp;&nbsp;<mat-icon>chevron_right</mat-icon>&nbsp;&nbsp;&nbsp;</div>
          <div>Ficheros y Software</div>
          <span class="spacer"></span>
          <button type="button" routerLink="/admin" mat-icon-button matTooltip="Volver al Dashboard">
            <mat-icon>chevron_left</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>

  </div>

  <form novalidate>

    <!-- BASIC INFO -->
    <div class="block" fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="100">

        <mat-card>
          <mat-card-title>Información básica</mat-card-title>
          <mat-card-subtitle>Añade la información básica de los archivos para generarlos</mat-card-subtitle>

          <!-- TITLE -->
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Nombre</mat-label>
            <input matInput #title name="title" formControlName="title" maxlength="120" placeholder="Titular" required>
            <span matSuffix>0</span>
            <mat-hint>Máximo 120 caracteres</mat-hint>
            <mat-error>Debes introducir un título</mat-error>
          </mat-form-field>
          <!-- /TITLE -->

          <div class="type-category-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center">
            <div fxFlex="48" fxFlex.xs="100">
              <!-- ARTICLE TYPE -->
              <mat-form-field appearance="outline">
                <mat-label>Versión del directorio</mat-label>
                <input matInput #template formControlName="template" [matAutocomplete]="templateAutocomplete" placeholder="Tipo de artículo" required>
                <button type="button" mat-button *ngIf="template.value" matSuffix mat-icon-button aria-label="Borrar" >
                  <mat-icon>close</mat-icon>
                </button>
                <mat-error>Debes seleccionar un tipo de artículo</mat-error>
              </mat-form-field>
              <mat-autocomplete #templateAutocomplete="matAutocomplete">
                <mat-option [value]="template">
                  prueba
                </mat-option>
              </mat-autocomplete>
              <!-- /ARTICLE TYPE -->
            </div>
            <div fxFlex="48" fxFlex.xs="100">

            </div>
          </div>

          <div class="url-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
            <div fxFlex="100">
              <h4>
                <div class="link-icon-div"><mat-icon>link</mat-icon></div>
                <div>&nbsp;URL del archivo</div>
              </h4>
              <p>https://localhost:4040/<span class="url-background">temp/files/[code-asignatura]/[nombre-fichero]</span></p>
            </div>
          </div>

        </mat-card>

      </div>
    </div>
    <!-- /BASIC INFO -->

    <!-- ARTICLE HEADER - IMAGE OR VIDEO -->
    <div class="block" fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="100">
        <mat-card>
          <mat-card-title>Gestión de archivos</mat-card-title>
          <mat-card-subtitle>Gestiona los ficheros que se incluirán al directorio de la asignatura.</mat-card-subtitle>

          <div fxLayout="column" fxLayoutAlign="center center" style="width: 100%;">
            <p>Selecciona qué tipo de ficheros quieres añadir.</p>
            <mat-button-toggle-group formControlName="header_mode" name="header" aria-label="Cabecera">
              <mat-button-toggle value="image"><mat-icon>description</mat-icon>&nbsp;&nbsp;Documento</mat-button-toggle>
              <mat-button-toggle value="video"><mat-icon>folder</mat-icon>&nbsp;&nbsp;Carpeta comprimida</mat-button-toggle>
              <mat-button-toggle value="video"><mat-icon>dns</mat-icon>&nbsp;&nbsp;Máquina Virtual</mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <div class="header-image" fxLayout="row" fxLayoutAlign="center start">
            
            <div fxFlex="50" class="header-drag-drop-container">
              <div class="header-drag-drop" ng2FileDrop  fxLayout="row" fxLayoutAlign="center center">
                <div>Arrastra ficheros aquí</div>
              </div>
              <input type="file" mat-button ng2FileSelect />
              <p class="error">Debes subir un archivo válido</p>
            </div>
            
            <div fxFlex="50" class="header-image-preview-container">
              
              <div fxLayout="column" fxLayoutAlign="center center">
                <div>
                  <img src mediaPreview class="media-object" />
                  <div class="progress-bar-container">
                    <mat-progress-bar #headerProgress mode="determinate"></mat-progress-bar>
                  </div>
                </div>
                <div>
                  <button type="button" mat-raised-button color="success">
                    <mat-icon>cloud_upload</mat-icon>&nbsp;Subir
                  </button>
                  <button type="button" mat-raised-button color="accent">
                    <mat-icon>not_interested</mat-icon>&nbsp;Cancelar
                  </button>
                  <button type="button" mat-raised-button color="warn">
                    <mat-icon>delete</mat-icon>&nbsp;Borrar
                  </button>
                </div>
              </div>

              <div class="header-image-no-preview-container" fxLayout="row" fxLayoutAlign="center center">
                <div><h3>PREVISUALIZACIÓN</h3></div>
              </div>

              <div class="buttons">
              </div>

            </div>
          </div>

          <div formGroupName="video" class="header-video" fxLayout="column" fxLayoutAlign="center center">
            <div class="header-video-input-container">
              <mat-form-field appearance="outline">
                <mat-label>Enlace</mat-label>
                <input matInput #video name="video" formControlName="url" placeholder="Enlace del fichero">
              </mat-form-field>
            </div>
            <div class="header-video-preview-container">
              <div fxLayout="row" fxLayoutAlign="center start">
                <div class="video" fxFlex="50">
                  <p><strong>Ficheros</strong></p>
                  <iframe frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="preview" fxFlex="50">
                  <p><strong>Previsualización</strong></p>
                  <img alt="Previsualización del directorio" />
                </div>
              </div>
            </div>
            <div>
              <p class="error">Hay errores en la generación del directorio.</p>
            </div>
          </div>

        </mat-card>
      </div>
    </div>
    <!-- /ARTICLE HEADER - IMAGE OR VIDEO -->

  </form>

  <div class="post-tools mat-elevation-z8" [ngStyle]="{ 'right': areToolsExpanded ? '0' : '-365px' }">
    <button type="button" mat-icon-button matTooltip="{{ !areToolsExpanded ? 'Expandir' : 'Ocultar' }}" [matTooltipPosition]="'left'"  (click)="areToolsExpanded = !areToolsExpanded">
      <mat-icon *ngIf="!areToolsExpanded">chevron_left</mat-icon>
      <mat-icon *ngIf="areToolsExpanded">chevron_right</mat-icon>
    </button>
    <button type="button" mat-stroked-button color="warn">Cancelar</button>
    <button type="button" mat-stroked-button color="info">Vista previa</button>
    <button type="submit" mat-stroked-button color="success">Guardar</button>
    <div><p>Rellena el formulario para activar el botón "Guardar"</p></div>
  </div>
</div>