<h1 mat-dialog-title>Crear petición </h1>
<div mat-dialog-content class="create-request-dialog">
  <form [formGroup]="createRequestForm" (ngSubmit)="createRequest()">
    <mat-card>
      <mat-card-header>
        <!-- ASIGNATURA -->
        <mat-form-field>
          <mat-label>Asignatura</mat-label>
          <mat-select formControlName="subject">
            <mat-option> -- </mat-option>
            <mat-optgroup *ngFor="let group of subjectGroups" [label]="group.name">
              <mat-option *ngFor="let subject of group.subject" [value]="subject">
                {{subject.codigo}}: {{subject.nombre}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
          <mat-error *ngIf="createRequestForm.get('subject').hasError('required')">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
        <!-- /ASIGNATURA -->
      </mat-card-header>
      <mat-card-content>
        <!-- SOFTWARE -->
        <mat-form-field appearance="outline">
          <mat-label> Software </mat-label>
          <textarea matInput #software name="software" formControlName="software" placeholder="Software"> </textarea>
          <mat-error *ngIf="createRequestForm.get('software').hasError('required')">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
        <!-- /SOFTWARE -->
      </mat-card-content>
    </mat-card>
    <div mat-dialog-actions align="end">
      <button type="button" mat-button mat-dialog-close color="warn">CANCELAR</button>
      <button type="submit" mat-button color="success"> ENVIAR </button>
    </div>    
  </form>
</div>
