header {
  top: 0;
  width: 100%;
  height: 83px;
  position: fixed;
  background: linear-gradient(to bottom, #002e67 0%, #42648e 100%);
  z-index: 999;
  color:white;
  #logo {
    background: url(../../../assets/img/ulpgc_graficos_v14.svg) -641px -2128px no-repeat;
    background-size: 1900px;
    width: 440px;
    height: 70px;
  }
  .mat-toolbar {
    padding-top: 10px;
    height: 83px;
    background-color: transparent;
    color: #fff;
    position: fixed;
    z-index: 10;
    max-width: 1920px;
  }
  .mat-icon {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
  }
  .social-icon {
    margin-right: 15px;
  }
  .menu {
    margin-top: -5px;
    color: #fff;
    width: 100%;
    .mat-icon {
      margin-left: 15px;
      margin-right: 5px;
      color: #fff;
    }
    .menu-element{
      float: right;
      margin-right: 30px;
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      font-weight: 600;

      .material-icons{
        margin-left: 0px;
        vertical-align: bottom;
      }

      span{
        vertical-align: super;

        .mat-icon{
          vertical-align: middle;
          width: 30px;
          height: 30px;
          font-size: 30px;
          line-height: 30px;
          margin-left: 10px;
        }
      }

    }
    .menu-element.hamb{
      padding-top: 2px;

      img.mat-icon{
        width: 40px;
      }
    }
  }

  button {
    margin-top: -5px;
  }
  a {
    cursor: pointer;
  }
  .container.large{
    max-width: 1920px;
    width: 100%;
    position: relative;
  }
  .logo-link{
    padding: 0px 0px 0px 60px;
  }
  .logo{
    width: 170px;
  }
}
.cdk-overlay-connected-position-bounding-box{
  top: 80px;
  padding-left: 22px;
}

@media (max-width: 1360px){
  header {
    width: 100%;
    .mat-toolbar {
      max-width: 1200px;
      width: 100%;
      margin: auto;
      left: 0;
      right: 0;
    }
    .logo-link{
      padding-left: 0px;
    }
  }
}

@media (max-width: 1260px){
  header .mat-toolbar {
    padding: 10px 5% 0 5%;
  }
}
