<form [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
  <h1 mat-dialog-title>Crear categoría</h1>
  <div mat-dialog-content class="category-dialog">
    <p>Introduce el nombre de la categoría que quieres crear</p>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Categoría</mat-label>
      <input matInput #name name="name" formControlName="name" placeholder="Nombre de la categoría">
      <mat-error>Debes introducir el nombre de la categoría</mat-error>
    </mat-form-field>

  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="warn">Cancelar</button>
    <button type="submit" mat-button cdkFocusInitial color="success">Guardar</button>
  </div>
</form>