<div class="screen gradient" fxLayout="column" fxLayoutAlign="center center">
  <div>
    <div class="not-found-container">
      <a [routerLink]="['/']" id="logo">
        <!-- <img class="logo" src="../../assets/img/logo-text.gif" alt="GPSP" /> -->
      </a>      
      <p class="not-found">Bienvenid@!</p>
      <p class="not-found-text">Acceder a la plataforma</p>
      <br /><br />
      <button mat-raised-button routerLink="/auth/login" color="alert" class="mat-elevation-z8">ACCEDER</button>
    </div>
  </div>
</div>