<div fxLayout="row" fxLayoutAlign="center center">

  <div fxFlex="90">
    <mat-toolbar color="accent">
      <mat-toolbar-row>
        <span>Panel de administración</span>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

</div>

<div class="main-container" fxLayout="row" fxLayoutAlign="center start">

  <mat-grid-list cols="2" rowHeight="2:1">
   
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Box 1</mat-card-title>
        <mat-card-subtitle>Descripción box 1</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Box 2</mat-card-title>
        <mat-card-subtitle>Descripción box 2</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Box 3</mat-card-title>
        <mat-card-subtitle>Descripción box 3</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Box 4</mat-card-title>
        <mat-card-subtitle>Descripción box 4</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

</div>