<div class="container">
  <!-- <h2> Asignaturas </h2>-->
  <div class="main-container" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="100">
      <mat-toolbar color="accent">
          <mat-toolbar-row>
            <div class="main-icon"><mat-icon>import_export</mat-icon></div>
            <div><span class="title"> Importar </span></div>
            <span class="spacer"></span>
            <button mat-icon-button>
              <mat-icon>assessment</mat-icon>
            </button>
            <button routerLink="/" mat-icon-button matTooltip="Volver al Inicio">
              <mat-icon>chevron_left</mat-icon>
            </button>
          </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
  <div class="subjects" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="2%">
    <div fxFlex="49" fxFlex.sm="49">
      <mat-card class="subject-card">
        <mat-card-header>
          <mat-card-title class="title"> Alumnos </mat-card-title>
          <mat-card-subtitle class="subtitle">Importación csv</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="teacher">
          <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" (change)="fileChangeListenerUsers($event)" accept=".csv" />
        </mat-card-content>
        <mat-card-actions class="buttons" fxLayoutAlign="end">
          <button mat-flat-button matTooltip="Enviar" color="info"><mat-icon aria-label="Ver detalles">  save_alt </mat-icon> Enviar </button> </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="49" fxFlex.sm="49">
      <mat-card class="subject-card">
        <mat-card-header>
          <mat-card-title class="title"> Asignaturas </mat-card-title>
          <mat-card-subtitle class="subtitle">Importación csv</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="teacher">
          <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" (change)="fileChangeListenerSubjects($event)" accept=".csv" />
        </mat-card-content>
        <mat-card-actions class="buttons" fxLayoutAlign="end">
          <button mat-flat-button matTooltip="Enviar" color="info"><mat-icon aria-label="Ver detalles">  save_alt </mat-icon> Enviar </button> </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>