/*-----------------------------------------------
                   Variables
-----------------------------------------------*/
$linesColor: #dbdbdb;
$categoryTitleColor: #686868;
$categoryEntityColor: #3F3F3F;
$orange:  #ff9a00;
$blue: #002E67;
$lightBlue: #42648e;
$lightGrey: rgb(247, 250, 252);
$bg: rgb(247, 250, 252);
$black: rgb(26, 32, 44);