@font-face {
  font-family: 'emona';
  src: url('/assets/fonts/emona.ttf') format('truetype');
}

@font-face {
  font-family: 'emona-bold';
  src: url('/assets/fonts/emona-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'emona-italic';
  src: url('/assets/fonts/emona-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'emona-semibold';
  src: url('/assets/fonts/emona-semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'emona-semibold-italic';
  src: url('/assets/fonts/emona-semibold-italic.ttf') format('truetype');
}