.title {
    font-weight: 900;
    padding-left: 5px;
}

.main-container {
    max-width: 1024px;
    width: 100%;
    margin: 0px auto;
    padding: 20px 0px;
}

h3 {
    font-size: 18px;
}

.no-results-container {
    margin-top: 40px;
}